{% load static %}

<!DOCTYPE html>

<html>
<head>
    <title>Travel with me!</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'system/index.css' %}">
    

    </head>
    <body>
        
        
        <div id="header">
            <div class="container">
                <img class="icon" src="ico.svg">
                <h1>
                    <span class="logo">Travel</span> together ! 
                </h1>
                <ul class="nav">
                    <li> <a href="pages/countries.html">COUNTRIES</a></li>
                    <li> <a href="pages/member.html">MEMBERS</a></li>
                    <li> <a href="#">OVERVIEW</a></li>
                </ul>
            
            
            </div>
            
        
        </div>
        <div id="banner">
            <div class="container">
                
            <h1>Find your Friends to travel together</h1>
                <div class="wrap">
                <div class="search">
                    <input type="text" class="searchTerm" placeholder="United Kingdom, London ...">
                    <button type="submit" class="searchButton">Search</button>
                    <i class="fa fa-search"></i>
                
                </div>
            
            </div>
            
            </div>
        
            
        </div>
    
        <section id="friendship">
            <div class="info-img">
            </div>
            <div class="info-content">
                <h2>International <span>Friendship </span></h2>
                <p>Friendships are relationships that involve two very critical dimensions – interdependence and voluntary participation," explains Northern Illinois University psychologist and friendship expert Dr. Suzanne Degges-White in an email interview. As anyone who's ever been in a friendship knows, it's a complex process and experience. "True friendships are hallmarked by each member's desire to engage with the other – it's about mutual interest in one another's experiences and thoughts, as well as a sense of 'belongingness' and connection," she says. </p>
                <button a href="#">Read More </button>
            
            </div>
        
        </section>
        <br>
        <br>
            <div id="newsletter">
                <div class="subs">
                    <div class="left">
                    <h3>Subscribe to our News</h3>
                    </div>    
                    <div class="right">
                <input type="email" placeholder="Your Email">
                <button class="button">Subscribe</button>
                </div>
                </div>
            </div> 
        
        <div class="clr"></div>
        
        
        
    <div id="gallery">
        <div class="container">
            <div class="pisc">
            <img src="pics/1.jpg" href="">
            <img src="pics/5.jpg" href="">
            <img src="pics/3.jpg" href="">
            <img src="pics/4.jpg" href="">
            <img src="pics/2.jpg" href="">
            <img src="pics/6.jpg" href="">
            <img src="pics/7.jpg" href="">
            <img src="pics/8.jpg" href="">
            <img src="pics/9.jpg" href="">
            
        </div>
        
        </div>
    </div>
        
        
        

      
    <div id="footer">
        <div class="ver">
         <p> Copyright &copy; Barkhayot</p>
            <p> 2020 </p>
        
        </div>
        
        
    </div>
    
    </body>
</html>
